USE [MLBPitchClassification]
GO
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
IF ( SELECT OBJECT_ID('[dbo].[DataDictionary]') ) IS NOT NULL
	DROP TABLE [dbo].[DataDictionary]
GO
CREATE TABLE [dbo].[DataDictionary](
	[ColumnID] [int] IDENTITY(1,1) NOT NULL,
	[ColumnName] [varchar](25) NOT NULL,
	[Type] [varchar](25) NULL,
	[Include] [bit] NOT NULL,
	[Unit] [varchar](10) NULL,
	[Definition] [varchar](500) NULL,
 CONSTRAINT [pk_DataDictionary] PRIMARY KEY CLUSTERED 
(
	[ColumnID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DataDictionary] ON 

INSERT [dbo].[DataDictionary] ([ColumnID], [ColumnName], [Type], [Include], [Unit], [Definition]) VALUES (1, N'Des', N'result', 0, NULL, N'a brief text description of the result of the pitch')
INSERT [dbo].[DataDictionary] ([ColumnID], [ColumnName], [Type], [Include], [Unit], [Definition]) VALUES (2, N'id', N'id', 0, NULL, N'a unique identification number per pitch within a game; numbers increment by one for each pitch but are not consecutive between at bats')
INSERT [dbo].[DataDictionary] ([ColumnID], [ColumnName], [Type], [Include], [Unit], [Definition]) VALUES (3, N'type', N'result', 0, NULL, N'a one-letter abbreviation for the result of the pitch: B, ball; S strike (including fouls); X in play')
SET IDENTITY_INSERT [dbo].[DataDictionary] OFF
GO
